// colors
$color-primary: #ed942e;
$color-secondary: #4e9ac1;
$color-black: #36363d;
$color-red: #ff686e;
$color-deep-red: #e04f54;
$color-text: #585858;
$color-hover: #d8d8d8;
$color-white: #ffffff;
$color-light-yellow: #f8d58d;
